<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">
  <noscript>
    <meta http-equiv="refresh" content="0;url=javascript-required.html" />
  </noscript>
  <!--[if lte IE 9]>
    <meta http-equiv="refresh" content="0;url=upgrade-browser.html" />
  <![endif]-->
  <!-- The above 5 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="referrer" content="origin-when-crossorigin">
  <meta name="robots" content="noodp,noydir" />
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="canonical" href="<%= htmlWebpackPlugin.options.productionUrl %>" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div id='root'>
  </div>
</body>

</html>
