<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">
  <meta name="referrer" content="origin-when-crossorigin">
  <meta name="robots" content="noodp,noydir" />
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="canonical" href="<%= htmlWebpackPlugin.options.productionUrl %>" />
  <title>
    JavaScript Required
  </title>
</head>

<body>
  <div>
    <h1>Javascript not Enabled</h1>
    <p>Please enable the javascript. Check the browser settings.</p>
  </div>
</body>

</html>
